.weeklyWeather {
  color: white;
  margin-bottom: 15px;
}

.today {
  background-color: rgba(102, 153, 204, 0.6);
  padding: 5px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today h1,
h2 {
  margin: 0;
}
.today img {
  padding: 3px;
  width: 80px;
}

.currentWeather {
  max-width: 800px;
  text-align: right;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  color: white;
  align-items: center;
}
